{% extends 'budget/base.html' %}
{% load budget_extras %}

{% block title %}{{ title }} - Budget Tracker{% endblock %}

{% block content %}
<div class="card custom-card">
    <div class="card-header d-flex justify-content-between align-items-center custom-card-header-border custom-card-header-purple" aria-label="Budgets List Header">
        <h5 class="card-title custom-text-blk mb-0">{{ title }}</h5>
        <a href="{% url create_url %}" class="btn btn-primary btn-sm custom-btn-purple" aria-label="Add a New Budget">+ Add New</a>
    </div>
    <div class="card-body" role="table" aria-label="Table of Budgets">
        <div class="table-responsive" role="table" aria-label="Table of Budgets">
            <table class="table custom-no-bg">
                <thead>
                    <tr class="custom-text-align-center">
                        {% for header in headers %}
                            <th class="custom-col-name-purple" scope="col">{{ header }}</th>
                        {% endfor %}
                        <th class="custom-col-name-purple" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in object_list %}
                        <tr class="custom-text-align-center">
                            <td class="custom-text-blk">{{ budget.category.name }}</td>
                            <td class="custom-text-blk">{{ budget.amount|peso_format }}</td>
                            <td class="custom-text-blk">{{ budget.month|date:"F Y" }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Budgets Actions">
                                    <a href="{% url update_url budget.id %}" class="btn btn-sm btn-outline-primary custom-edit-btn" aria-label="Edit {{ budget.category.name }}">Edit</a>
                                    <a href="{% url delete_url budget.id %}" class="btn btn-sm btn-outline-danger custom-delete-btn" aria-label="Delete {{ budget.category.name }}">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="{{ headers|length|add:1 }}" class="text-center" aria-live="polite">No budgets found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}