.custom-card {
    border-color: #30343F;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5) !important;
}

.card-header-border {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom: 1 !important;
    text-align: center;
}

.card-header-skyblue {
    background-color: #BDE0FE;
    color: #30343F;
}

.card-header-purple {
    background-color: #E7D8F0;
    color: #30343F;
}

/* .custom-card-body {
    background: rgba(255, 255, 255, 0.4) !important;
} */
