.custom-no-bg {
    --bs-table-bg: transparent !important;
}

.custom-col-name-fuchsia {
    color: #91113f !important;
}

.custom-col-name-skyblue {
    color: #48A8FB !important;
}

.custom-col-name-purple {
    color: #9937cf !important;
}
