.custom-no-bg {
    --bs-table-bg: transparent !important;
}

.custom-text-center {
    text-align: center;
}

.custom-col-name-fuchsia {
    color: #C23E6E !important;
    /* text-align: center; */
}

.custom-col-name-skyblue {
    color: #48A8FB !important;
    /* text-align: center; */
}

.custom-col-name-purple {
    color: #B95FEB !important;
    /* text-align: center; */
}
