.custom-card {
    border-color: #30343F;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5) !important;
}

.custom-card-header-border {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom: 1px solid !important;
}

.custom-card-header-skyblue {
    background-color: #BDE0FE;
    color: #30343F !important;
}

.custom-card-header-purple {
    background-color: #E7D8F0;
    color: #30343F !important;
}

.custom-card-header-lightpink {
    background-color: #F0D8E7;
    color: #30343F !important;
}

.custom-card-header-lightskyblue {
    background-color: #D0E9F2;
    color: #30343F !important   ;
}

/* .custom-card-body {
    background: rgba(255, 255, 255, 0.4) !important;
} */
