@font-face {
    font-family: 'Helvetica Now Display';
    src: url("{% static 'fonts/HelveticaNowDisplay-Regular' %}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url("{% static 'fonts/HelveticaNowDisplay-Bold.ttf' %}") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
    font-family: 'Helvetica Now Display', Arial, sans-serif;
}

/* .custom-gradient-bg-2 {
    background: radial-gradient(64.87% 195.86% at 45.36% 68.1%, rgba(255, 175, 204, 0.47) 0%, rgba(189, 224, 254, 0.47) 100%) !important;
} */

.navbar {
    margin-bottom: 2rem;
}

.custom-pink-bg {
    background-color: #FFAFCC !important;
}

.container {
    max-width: 1200px;
}

.card {
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.custom-text-align-center {
    text-align: center;
}

.custom-text-blk {
    color: #30343F !important;
}

.custom-text-fuchsia {
    color: #91113f;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.custom-app-name-style {
    font-family: 'Just Another Hand', cursive;
}